.news-card {
    max-width: 400px;
    margin: 1rem;
    display: flex;
    flex-direction: column;

    mat-card-content {
        margin-top: 1rem;
    }

    img {
        object-fit: cover;
        height: 200px;
    }
}