:host {
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.filter-container {
    position: sticky;
    top: 72px;
    /* Approx header height */
    background: #fff;
    padding: 0.25rem 2rem;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spinner-container,
.error-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.error-container p {
    color: red;
}