.search-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dense-form-field {
    font-size: 14px;

    ::ng-deep .mat-mdc-form-field-flex {
        height: 40px;
        align-items: center;
    }

    ::ng-deep .mat-mdc-text-field-wrapper {
        padding-bottom: 0;
    }

    ::ng-deep input.mat-mdc-input-element {
        text-align: center;
        caret-color: black; // Ensure cursor is visible
    }
}

// Disable animations/transitions
::ng-deep .no-animation {
    * {
        transition: none !important;
        animation: none !important;
    }
}

::ng-deep .multiline-tooltip {
    white-space: pre-wrap;
    max-width: 300px;
}