.search-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dense-form-field {
    font-size: 14px;

    ::ng-deep .mat-mdc-form-field-flex {
        height: 40px;
        align-items: center;
        background-color: var(--input-bg);
        border: 1px solid var(--input-border);
        border-radius: 4px; // Optional: Add radius if not present in default
    }

    ::ng-deep .mdc-notched-outline {
        display: none !important;
    }

    ::ng-deep .mat-mdc-text-field-wrapper {
        padding-bottom: 0;
    }

    ::ng-deep input.mat-mdc-input-element {
        text-align: center;
        caret-color: var(--text-color); // Ensure cursor matches theme text
        color: var(--input-text) !important;
    }
}

// Disable animations/transitions
::ng-deep .no-animation {
    * {
        transition: none !important;
        animation: none !important;
    }
}

::ng-deep .multiline-tooltip {
    white-space: pre-wrap;
    max-width: 300px;
}